@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

.file-thumb {
  font-family : 'FontAwesome';
  font-size   : 20vh;
  display     : inline-block;
}

body {
  background-color: #fff;
}

.preview-details * {
  box-sizing       : border-box;
}

.preview-details {
  position         : absolute;
  bottom           : 150px;
  left             : 0;
  right            : 0;

  background-color : white;
  text-align       : center;
  padding-top      : 10px;
}

.preview-details .details-item {
  height: auto !important;
}

.preview-details .prop,
.preview-details .prop-data {
  float   : left;
  padding : 5px;
}

.preview-details .prop {
  text-align  : right;
  width       : calc(50% - 150px);
  color       : #808080;
}

.preview-details .prop-data {
  text-align : left;
  width      : calc(50% - 100px);
}

.horizontal.kddraggable {
  display: none !important;
}

.preview-details {
  position : fixed;
  bottom   : 0;
  top      : calc(100% - 150px);
  left     : 256px;
  right    : 0;
  font-size: 14px;
}

.preview-panel {
  position : absolute;
  top      : 0;
  left     : 0;
  right    : 0;
  height   : calc(100% - 150px);
}

.preview-placeholder {
  background-color : white;
  padding          : 20px;
  height           : 100%;
  width            : 100%;
}

.file-thumb,
.preview-placeholder img,
.preview-placeholder video {
  background        : rgba(0, 0, 0, 0.1);
  box-shadow        : inset 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-radius     : 5px;
  padding           : 10px;
  position          : absolute;
  top               : 50%;
  left              : 50%;

  transform         : translate(-50%, -50%);
  -webkit-transform : translate(-50%, -50%);
  -ms-transform     : translate(-50%, -50%);

  max-width         : 100%;
  max-height        : 100%;
  width             : auto;
  height            : auto;

  margin-bottom     : 15px;
}

.preview-placeholder audio {
  background        : rgba(0, 0, 0, 0.1);
  box-shadow        : inset 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-radius     : 5px;
  padding           : 10px;
  position          : relative;
  top               : 50%;
  left              : 50%;

  transform         : translate(-50%, -50%);
  -webkit-transform : translate(-50%, -50%);
  -ms-transform     : translate(-50%, -50%);

  max-width         : 100%;
  max-height        : 100%;
}

.preview-placeholder video:-webkit-full-screen {
  transform         : none;
  -webkit-transform : none;
  -ms-transform     : none;
}

.preview-panel .kdloader {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -24px;
}

